.product-manager {
  .table-product {
    table {
      tr {
        &:hover {
          background: #f3f3f3;
        }

        td {
          &:nth-child(2) {
            width: 100px;
          }

          &:nth-child(3) {
            width: 120px;
            text-align: center;
          }

          &:last-child {
            width: 110px;
            text-align: center;

            button {
              background: #ea1c00;
              color: #fff;
              border-radius: 5px;
              padding: 5px 0;
              width: 100%;
              margin: 5px 0;
              border: 1px solid #ea1c00;

              &:last-child {
                background: #fff;
                color: #ea1c00;
              }
            }
          }
        }

      }
    }
  }
}